@import './icons.css';

@font-face {
    font-family: Avenir;
    src: url('./fonts/AvenirLTStd-Black.otf');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: Avenir;
    src: url('./fonts/AvenirLTStd-Roman.otf');
    font-weight: normal;
    font-style: normal;
  }
  



body{
    margin: 0;
}

.layout1{
    background-color: #000000;
    float: left;
    width: 290px;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    flex-direction: column;
}
.logo{
    margin: 24px;
    width: 130px;
    height: 41px;
    color: white;
}
.list{
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}
.list-item{
  width: 270px;
  height: 30px;
  align-items: center;
  padding-top: 10px;
  border-radius: 5px;
  color: white;
  opacity: 60%;
  cursor: pointer;
  transition: opacity .5s;
}
.list-item:hover{
  opacity: 100%;;
}
.list-title {
    font-family: Avenir;
    font-weight: bold;
    list-style: none;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
.list-title i{
    font-size: 24px;
}

  .list-text{
    margin-left: 15px;
  }
.list-item:active{
  background-color: #282828;

}
.list2{
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}
.list-item2 {
  width: 270px;
  height: 30px;
  align-items: center;
  padding-top: 10px;
  border-radius: 5px;
  color: white;
  opacity: 65%;
  cursor: pointer;
  transition: opacity .5s;
}
.list-item2:hover{
  opacity: 100%;
}
.list-title2 {
  font-family: Avenir;
  font-weight: bold;
  list-style: none;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.list-title2 img{
  font-family: Avenir;
  font-weight: bold;
  list-style: none;
  height: 24px;
  margin-right: 15px;
 
}
.line-div{
  margin: 0;
  width: 240px;
  margin-left: 30px;
  height: 1px;
  background: white;
  opacity: 60%;
}
.playlists {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  margin-left: 30px;
  font-family: Avenir;
}
.playlist{
  color: white;
  opacity: 60%;
  margin-top: 22px;
  font-size: 15px;
}
.playlist:hover{

  opacity: 100%;

}

.layout2{
    background-color: #121212;
    float: left;

}